<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Turn:</b>
  <%= @game.turn %>
</p>

<p>
  <b>Player1:</b>
  <%= @game.player1 %>
</p>

<p>
  <b>Player2:</b>
  <%= @game.player2 %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
